<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="moe.mauve.agregore.wifiautoconnect">

    <application>
        <receiver
            android:name=".WiFiDirectBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="Instantiatable"></receiver>
    </application>

</manifest>